body {
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  font-family: "Questrial", sans-serif;
}

.container {
  text-align: center;
}

.hexColor {
  text-transform: none;
  margin-bottom: 1rem;
  color: #050522;
  letter-spacing: 1px;
}

.hex {
  font-size: 3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #050522;
  letter-spacing: 2px;
}

.hexBtn {
  font-family: "Questrial", sans-serif;
  font-size: 12px;
  font-weight: bold;
  padding: 1.25rem 2rem;
  border: none;
  border-radius: 50px;
  color: #050522;
  background: rgb(253, 253, 253);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  outline: none;
  margin-top: 1rem;
}

.button:hover {
  background-color: #2ee59d;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}
